@import '@/SCSS/mixins';
@import '@/SCSS/variables';
.Container{
    margin-top:50px;
    margin-bottom:20px;
}

.CardsContainer {
	display: grid;
	grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.1fr;
	max-width: 1200px;
	margin: 0 auto;
    height: 900px;
    overflow-y: auto
}
.CreateNew {
	@include FlexCenter;
	justify-content: space-between;
    position: sticky;
    top:0;
    background-color: white;
    padding: 10px;
    border-top: 1px solid $lightGray;
     border-bottom: 1px solid $lightGray;
}

.CreateButton{
    color:black;
    background-color: white;
    border:1px solid $mainGreen

}
.CreateButton:hover{
    color:white;
    background-color: $mainGreen;
   

}