.profileContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
}

.main {
  background-color: white;
  padding: 20px 30px;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .title {
    width: 100%;
    font-size: 38px;
    margin-bottom: 0.75rem;
  }
}
