@import '@/SCSS/variables';

.Card {
	height: 400px;
	position: relative;
	animation: appearance ease;

	animation-fill-mode: both;
	view-timeline-name: --appearance-card;
	animation-timeline: --appearance-card;
	animation-range: 10% 40%;
}

@keyframes appearance {
	from {
		opacity: 0;
		transform: translateY(-50px);
	}
}

.Image {
	display: block;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.CardDescription {
	position: absolute;
	bottom: 0;
	padding: 20px;
}
.NewsDate {
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: 700;
	color: $fontColor;
}

.NameLogo {
	color: white;
	font-size: clamp(20px, 5vw, 32px);
	line-height: 110%;
}

.PlayerNumber{
	color:white;
	font-size: clamp(18px,4vw,24px);
}

.Card:before {
	background: linear-gradient(
		180deg,
		rgba(46, 48, 55, 0) 24%,
		rgba(46, 48, 55, 0.5) 54.87%,
		rgba(46, 48, 55, 0.85) 89.71%
	);
	content: '';
	height: 100%;

	position: absolute;
	left: 0;
	top: 0;
	
	transition: background 0.4s ease-out;
	width: 100%;
}
.CardLink:hover .Card:before {
	background: linear-gradient(
		180deg,
		rgb(227, 48, 70, 0.2) 24%,
		24%,
		rgba(227, 48, 69, 0.411) 54.87%,
		rgba(227, 48, 69, 0.678) 89.71%
	);
}
