@import "@/SCSS/mixins.scss";

@mixin Container($isMobile: false) {
    box-sizing: border-box;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0);

    @if $isMobile == false {
        font-size: clamp(10px, 3vw, 18px);
    }

    @else {
        font-size: 23px;
    }
}

#container {
    @include Container(false)
}

#mobileContainer {
    @include Container(true)
}

.content {
    .link {
        display: block;
        padding: 10px;

        &:hover {
            background-color: ghostwhite;
        }

    }
}