.container {
    display: none;
}

#content {
    z-index: 5000;
}

#title {
    font-size: 30px;
    margin-bottom: 20px;
}

.item {
    font-size: 25px;
}

@media (max-width: 550px) {
    .container {
        display: block;
    }
}