@import "@/SCSS/variables";

$border-radius: 4px;

.feedbackContainer {
  display: flex;
  width: 100%;
  padding: 0 clamp(25px, 5vw, 60px) 0px 25px;

  .feedbackForm {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: $border-radius;

    .feedbackTitle {
      font-size: 24px;
      margin-bottom: 1rem;
    }

    .field {
      margin-bottom: 20px;

      label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
      }

      input,
      textarea,
      select {
        width: 100%;
        padding: 10px;
        border: 2px solid $mainGreen;
        border-radius: $border-radius;
        font-size: clamp(14px, 2vw, 18px);
        background: transparent;
      }

      @media (max-width: 576px) {
        input,
        textarea,
        select {
          border: 0;
          border-radius: 0;
          border-bottom: 2px solid $mainGreen;
        }
        textarea {
          min-height: 0;
          padding: 10px;
        }
      }
    }

    @media (max-width: 576px) {
      .feedbackTitle {
        font-size: 28px;
        text-align: center;
        margin-bottom: 2rem;
      }
    }

    .error {
      color: $mainRed;
      font-size: 14px;
      font-weight: bold;
    }

    button {
      font-size: clamp(18px, 2vw, 20px);
    }
  }

  @media (max-width: 768px) {
    .feedbackForm {
      flex-basis: 100%;
      padding: 0;
      border: 0;
    }
  }
}

@media (max-width: 992px) {
  .feedbackContainer {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .feedbackContainer {
    padding: 0;
  }
}
