@mixin WFull {
    width: 100%;
    height: 100%;
}

@mixin FlexCenter($fd: row) {
    display: flex;
    flex-direction: $fd;
    align-items: center;
    justify-content: center;
}

@mixin AbsoluteCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin AbsoluteTop {
    position: absolute;
    left: 0;
    top: 0;
}
