$fontColor: #ffffffb3;
$opacityFont: rgba(255, 255, 255, 0.5);
$mainRed: rgb(227, 48, 70);
$mainGreen: rgb(52, 141, 139);
$darkGreen: #102120;
$darkGray: #161515;
$pendingBg: #d69e2e;
$pendingFontColor: #fffbea;
$cancelledBg: #c53030;
$cancelledFontColor: #ffe5e5;
$completedBg: #38a169;
$completedFontColor: #e6fffa;
$inCart: #6c757d;
