@import '@/SCSS/mixins';
@import '@/SCSS/variables';
.NewsContainer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
	padding: 0px 50px;
}

.pageContainer {
	min-height: 100vh;
	background-image: linear-gradient(159deg,white 80%,rgb(227, 48, 70) 80%);
	span {
		display: block;
		color: $mainRed;
		margin: 0;
	}
}

.NewsLogo {
	color: $darkGreen;
	margin-bottom: 50px;
	line-height: 90%;
	padding-left: 50px;
	font-size: clamp(45px, 6vw, 68px);
}
.CenterContainer {
	max-width: 1350px;
	margin: 0 auto;
}

.ImageDecor {
	position: absolute;
	opacity: 0.6;
	right: 40px;
	bottom: -75vw;
	rotate: 30deg;
}

@media (max-width: 768px) {
	.NewsContainer {
		grid-template-columns: 1fr;
	}
    .FiltersContianer{
        grid-template-columns: 1fr;
    }
}

@media(min-width:768px) and (max-width:1100px){
    .NewsContainer {
		grid-template-columns: 1fr 1fr;
	}
    .ImageDecor{
        display: none;
    }
}
