@import "@/SCSS/variables.scss";
$animationDuration: 300ms;

.card {
  position: relative;
  overflow: hidden;
  display: flex;
  min-width: 250px;
  max-width: 250px;
}

.clearOverflow {
  animation: clear-overflow 1ms forwards;
  animation-delay: $animationDuration;
}

@keyframes clear-overflow {
  from {
    overflow: hidden;
  }
  to {
    overflow: visible;
  }
}

.cardContent {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px solid #343434;
  border-radius: 8px;
  padding: 16px;
  gap: 10px;
  height: 400px;
  width: 100%;

  &.sizeTableClosed {
    display: none;
  }

  &.sizeTableOpened {
    z-index: 10;
    background: white;
    display: flex;
    animation: pop $animationDuration forwards ease-out;
  }

  @keyframes pop {
    from {
      display: flex;
      position: absolute;
      top: -400px;
    }
    to {
      display: flex;
      position: absolute;
      top: 0;
    }
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-bottom: 2px solid #636363;
  }

  .descriptionCard {
    display: flex;
    flex-direction: column;
    align-content: start;
    gap: 10px;

    .price {
      font-size: clamp(24px, 2vw, 26px);
      color: $mainRed;
      font-weight: bold;
    }

    .title {
      font-size: clamp(16px, 2vw, 18px);
      text-wrap: nowrap;
      max-width: 200px;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .amount {
      font-size: clamp(16px, 2vw, 18px);
      text-wrap: nowrap;
      font-weight: bold;

      &.available {
        color: $mainGreen;
      }
      &.noAvailable {
        color: $mainRed;
      }
    }
  }

  .sizeTable {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 10px;

    .sizeList {
      display: flex;
      gap: 10px;

      .size {
        border: 2px solid $mainGreen;
        border-radius: 6px;

        &.empty {
          padding: 4px 8px;
        }

        button {
          padding: 4px 8px;
          width: 100%;
          height: 100%;
          font-weight: 500;

          &:hover,
          &.selected {
            background-color: $mainGreen;
            color: white;
            font-weight: bold;
          }
        }
      }
    }

    .description {
      flex-grow: 1;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgb(172, 172, 172);
        border-radius: 20px;
      }
    }

    .returnContainer {
      width: 35px;
      height: 35px;
      position: absolute;
      right: -30px;
      top: -30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $mainRed;
      border-radius: 8px;
      .return {
        width: 70%;
        height: 70%;
      }

      &:hover {
        width: 40px;
        height: 40px;
        transition: 500ms;
      }
    }
  }
}
